body {
    margin: 0;
    padding: 0;
    direction: ltr;
    background-image: url(../img/png/to\ do.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

.container {
    margin: auto;
    width: 370px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.text-watch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}


h3 {
    margin: 0;
    padding: 0;
    color: #ee9827;
}

.bold-text {
    padding: 20px;
}

.main-list {

    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.write input {
    border: 0;
    height: 35px;
    width: 100%;
    background-color: #d8d4d4;
    border-radius: 10px;
    outline: 0;
    padding: 5px 10px;
}

.action-btn[data-action="add"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn[data-action="add"] img {
    width: 30px;
    height: 30px;
}


.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn[data-action="item-list"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}


.item {
    display: flex;
    align-items: center;
}

.text-info ul {
    margin: 0;
    padding: 0;
}


.orangeB {
    display: flex;
    align-items: center;
}

.orangeB button {
    width: 18px;
    height: 18px;
    border-radius: 13px;
}


.tools {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tools img {
    width: 25px;
    height: 25px;
}

.deletAll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.deletAll img {
    width: 20px;
    height: 20px;
}

.c-pointer {
    cursor: pointer;
}

.question {
    display: flex;
    align-items: center;
    margin-top: 45px;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    height: 100px;
}

i {
    font-size: 25px;
    position: absolute;

    animation: slide-left-right 10s linear infinite;
    left: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slide-left-right {
    0% {
        transform: translteX(0) rotate(0deg);
    }

    /* 
    50% {

    transform: translateX(100vw) rotate(360deg);
    } */

    100% {
        transform: translateX(350px) rotate(1040deg);
    }

}


.modal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}


.red {
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 40%;
    border-radius: 15px;
    cursor: pointer;
}

.green {
    align-items: center;
    display: flex;
    gap: 60px;
    flex-direction: column;
    background-color: white;
    width: 40%;
    border-radius: 15px;
    cursor: pointer;
}


.u-green .circle {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 11px 40px 1px green;
}

.circle svg {
    width: 20px;
    height: 20px;
}

.u-red .circle {
    width: 50px;
    height: 50px;
    background-color: #ca0b00;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 11px 40px 1px rgba(204, 26, 26, 0.75);
}


.b-red,
.b-green {
    font-size: 20px;
    position: relative;
    bottom: 15px;
}

.back-red {
    width: 100%;
}

.back-green {
    width: 100%;
}

.u-red {
    position: relative;
    bottom: 18px;
}

.u-green {
    position: relative;
    bottom: 18px;
}