body {
    margin: 0;
    padding: 0;
    direction: ltr;
}


.container {
       margin: auto;
    width: 370px;
}

.text-watch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}


h3 {
    margin: 0;
    padding: 0;
    color: #ee9827;
}

.bold-text {
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-list {
    border: black 2px dotted;
    border-radius: 10px;
    padding: 15px 20px;
}

.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.write input {
    width: 170px;
    height: 20px;
}

.add img {
    width: 24px;
    height: 24px;
}


.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
}
.orangeB {
    display: flex;
    align-items: center;
}

.orangeB button {
    width: 18px;
    height: 18px;
    border-radius: 13px;
}


.tools {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tools img {
    width: 24px;
    height: 24px;
}
.deletAll {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deletAll img {
    width: 30px;
    height: 30px;
}